<footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">

            {% if debug %}
                <small class="text-warning fw-semibold">
                    Work in progress
                </small>
                {% if user.username == 'admin' %}
                    <a href="/admin/"> admin panel</a>
                {% endif%}
            {% else %}
                <small>
                    © {{ now|date:"Y" }} cs_tournament
                </small>
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
                <span class="mx-2">|</span>
                <a href="{% url 'csv_import' %}" class="text-white-50">
                    <i class="bi bi-upload"></i> Import CSV
                </a>
            {% endif %}

        </div>
    </footer>