{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Bentornato {{ user.username }}!</h1>
        
        {% if team is not None %}
            <a href="{% url 'team_list' %}">Visualizza Squadra</a>
        {% else %}
            <a href="{% url 'create_team'%}">Crea Squadra</a>
        {% endif %}
        <a href="{% url 'view_profile'%}">View Profile</a>
        <a href="{% url 'create_tournament'%}">Crea torneo</a>
    
    {% else %}
        <h1>Devi autenticarti!</h1>
    {% endif %}
{% endblock %}